
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>build_timestamp</key>
	<string>2014-11-21 11:40:25</string>
	<key>svn_revision</key>
	<string>3242</string>
	<key>client</key>
	<string>CD</string>
</dict>
</plist>
	