<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RLConfiguration.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>RLCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>RLDatabase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>RLNetwork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RLUIComponent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>RLUtillties.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>rlterm5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CFDA05311AC1260900BFEDA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFDA05491AC1260900BFEDA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFDA055E1AC1267600BFEDA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFDA05681AC1267700BFEDA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFDA058E1AC12A8C00BFEDA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFDA05981AC12A8C00BFEDA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFDA05B21AC12AC200BFEDA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFDA05BC1AC12AC200BFEDA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFDA05D61AC12B1F00BFEDA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFDA05E01AC12B1F00BFEDA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFDA05FA1AC12BA600BFEDA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFDA06041AC12BA600BFEDA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFDA062C1AC12D4600BFEDA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFDA06361AC12D4600BFEDA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
